<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Commers Project</title>
    <link href="/static/css/main.45f089b2.css" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./e-com.css">
</head>
  <body class="bg-white-100">
    <div id="root">
      <div class="relative">
         <!-- nave-bar -->
          <header>
         <nav class="bg-yellow-300 fixed top-0 z-[100] w-screen">
            <div class="w-[100%]">
                <div class="flex justify-between items-center text-slate-200 h-20 max-w-6xl md:mx-auto mx-6">
                    <a aria-current="page" class="active" href="e-com.html">
                        <img src="https://shoppingcart-by-preetam.netlify.app/logo.png" class="w-[180px]" alt="logo">
                    </a>
                    <div class="flex justify-center items-center gap-x-2 font-medium text-slate-100 mr-5 space-x-6">
                        <a aria-current="page" class="active" href="index.html">Home</a>
                        <a href="./register.html" class="btn btn-outline-light">Register</a>
                        <a href="./login.html" class="btn btn-outline-light">Login</a>
                        <a href="./cart.html" class="add-to-cart-button">
                            <svg width="50" height="50" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff" fill-opacity=".01" d="M0 0h48v48H0z"/>
                                <path d="M39 32H13L8 12h36l-5 20Z" fill="#2F88FF"/>
                                <path d="M3 6h3.5L8 12m0 0 5 20h26l5-20H8Z" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <circle cx="13" cy="39" r="3" stroke="#ffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <circle cx="39" cy="39" r="3" stroke="#ffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        </header>
        
              </div>
            </div>

         <div class="cart-items">
          <div class="my-8 mt-20 mb-10">
              <div class="grid xs:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 max-w-6xl p-2 mx-auto space-y-10 space-x-5 min-h-">
                 <!--1th item -->
            <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
              <div>
                <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">Fjallraven Foldsack no.1 Backpack, First 15 Laptop</p>
              </div>
              <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                  <p>"Your perfect pack for everyday use and walkes in the..."</p>
              </div>
              <div class="h-[180px]">
                <img class="h-full w-full" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="product-img">
              </div>
              <div class="flex justify-between item-center gap-8 w-full ">
              <div>
                <p class=" position-fix text-green-600 font-semibold">$109.95</p>
              </div>
              <div>
                  <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
              </div>
              </div>
            </div>

             
                 <!--3th item -->
            <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
              <div>
                <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">Mens Cotton Jacket</p>
              </div>
              <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                  <p>"great outerwear jackets for Spring/Autumn/Winter, suitable for many occasions, such..."</p>
              </div>
              <div class="h-[180px]">
                <img class="h-full w-full" src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" alt="product-img">
              </div>
              <div class="flex justify-between item-center gap-8 w-full mt-5">
              <div>
                <p class="text-green-600 font-semibold">$55.99</p>
              </div>
              <div>
                  <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
              </div>
              </div>
            </div>

                <!--4th item -->
            <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
              <div>
                <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">Mens Casual Slim Fit</p>
              </div>
              <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                  <p>"The color could be slightly different between on the screen..."</p>
              </div>
              <div class="h-[180px]">
                <img class="h-full w-full" src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg" alt="product-img">
              </div>
              <div class="flex justify-between item-center gap-8 w-full mt-5">
              <div>
                <p class="text-green-600 font-semibold">$15.99</p>
              </div>
              <div>
                  <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
              </div>
              </div>
            </div>
                
                 <!--5th item ok -->
                 <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
                  <div>
                    <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">John Hardy Women's Legends Nega Gold & Silkver Dragon Station Chain Bracelet</p>
                  </div>
                  <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                     <p>"From Our Legends COllection, the Nega was inspired by the...",</p>
                  </div>
                  <div class="h-[180px]">
                    <img class="h-full w-full" src="https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg" alt="product-img">
                  </div>
                  <div class="flex justify-between item-center gap-8 w-full mt-5">
                  <div>
                    <p class="text-green-600 font-semibold">$659</p>
                  </div>
                  <div>
                     <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
                  </div>
                </div>
               </div>

                 <!--6th item -->
                 <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
                  <div>
                    <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">Solid Gold Petite Micropave </p>
                  </div>
                  <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                     <p>Satisfaction Guaranteed. Return or exchange any order within 30 days.Designed...</p>
                  </div>
                  <div class="h-[180px]">
                    <img class="h-full w-full" src="https://fakestoreapi.com/img/61sbMiUnoGL._AC_UL640_QL65_ML3_.jpg" alt="product-img">
                  </div>
                  <div class="flex justify-between item-center gap-8 w-full mt-5">
                  <div>
                    <p class="text-green-600 font-semibold">$168</p>
                  </div>
                  <div>
                     <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
                  </div>
                  </div>
                </div>

             

              <!--8th item -->
              <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
              <div>
                <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">Pierced Owl Rose Gold Plated Stainless Steel Double</p>
              </div>
              <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                  <p>Rose Gold Plated Double Flared Tunnel Plug Earrings. Made of...</p>
              </div>
              <div class="h-[180px]">
                <img class="h-full w-full" src="	https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg" alt="product-img">
              </div>
              <div class="flex justify-between item-center gap-8 w-full mt-5">
              <div>
                <p class="text-green-600 font-semibold">$10.99</p>
              </div>
              <div>
                  <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
              </div>
              </div>
            </div>

             <!--9th item -->
            <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
            <div>
              <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">WD 2TB Elements Portable External Hard Drive - USB 3.0 </p>
            </div>
            <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                <p>USB 3.0 and USB 2.0 Compatibility Fast data transfers Improve...</p>
            </div>
            <div class="h-[180px]">
              <img class="h-full w-full" src="https://fakestoreapi.com/img/61IBBVJvSDL._AC_SY879_.jpg" alt="product-img">
            </div>
            <div class="flex justify-between item-center gap-8 w-full mt-5">
            <div>
              <p class="text-green-600 font-semibold">$64</p>
            </div>
            <div>
                <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
            </div>
            </div>
          </div>   

          <!--20th item -->
          <div class="flex flex-col items-center justify-between gap-x-10 hover:scale-110 translate-4 duration-300 ease-in hover:shadow-2xl hover:cursor-pointer gap-3 p-4 mt-10 ml-5 rounded-xl shadow-md">
            <div>
              <p class="text-gray-700 font-semibold text-lg text-left truncate w-40 mt-1">DANVOUY Womens T Shirt Casual Cotton Short</p>
            </div>
            <div class="w-40 text-gray-400 font-normal text-[10px] text-left">
                <p>95%Cotton,5%Spandex, Features: Casual, Short Sleeve, Letter Print,V-Neck,Fashion Tees, The fabric...</p>
            </div>
            <div class="h-[180px]">
              <img class="h-full w-full" src="https://fakestoreapi.com/img/61pHAEJ4NML._AC_UX679_.jpg" alt="product-img">
            </div>
            <div class="flex justify-between item-center gap-8 w-full mt-5">
            <div>
              <p class="text-green-600 font-semibold">$89.45</p>
            </div>
            <div>
                <button class="text-green-700 border-2 border-gray-700 rounded-full font-semibold text-[12px] p-1 px-3 uppercase hover:bg-green-700 hover:text-white transition duration-300 ease-in">Add to Card</button>
            </div>
            </div>
          </div>
          </div>
          </div> <!--grid-->
        </div> <!--class="my-8 mt-20 mb-10"-->
    </div>  <!--relative -->
    <div style="position: fixed; z-index: 9999; inset: 16px; pointer-events: none;">
    </div>
  </div>
    <!-- root -->

    <footer class="bg-yellow-300 py-4 text-center">
        <p>&copy; 2024 E-Commerce Project</p>
    </footer>
  <script src="./assest/js/scrip.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>  
</html>